@import '../../scss/abstracts/mixins.scss';
@import '../../scss/abstracts/variables.scss';

.workspace {
  flex-grow: 1;
  background: $workspace-color;
  overflow-y: hidden;

  position: relative;
}
