$color-1: #000000;
$color-2: #020202;
$color-3: #050505;
$color-4: #070707;
$color-5: #0a0a0a;
$color-6: #0c0c0c;
$color-7: #0f0f0f;
$color-8: #111111;
$color-9: #141414;
$color-10: #161616;
$color-11: #191919;
$color-12: #2f2f2f;
$color-13: #464646;
$color-14: #5e5e5e;
$color-15: #757575;
$color-16: #8c8c8c;
$color-17: #a3a3a3;
$color-18: #bababa;
$color-19: #d1d1d1;
$color-20: #e8e8e8;
$color-21: #ffffff;

$main-navigation-width: 6%;
$main-navigation-min-width: 7rem;
$main-navigation-color: $color-11;
$main-navigation-button-color: $color-21;
$main-navigation-button-height: 4rem;
$main-navigation-button-width: 4rem;

$border-height: 6%;
$border-color: $color-11;

$workspace-color: $color-21;

$pad-sheet-font-size: 1.6rem;
$pad-sheet-padding: 2rem;

$basket-toggle-font-size: 2rem;
$basket-toggle-font-color: $color-21;
$basket-toggle-hover-color: rgba($color-21, 0.05);
$basket-toggle-transition: all 0.5s;

$basket-color: #c1c1c1;
$basket-transition: all 1s;
