@import '../../scss/abstracts/mixins.scss';
@import '../../scss/abstracts/variables.scss';

.main-navigation__list {
  @include full-size();
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
