@import '../../scss/abstracts/mixins.scss';
@import '../../scss/abstracts/variables.scss';

.basket {
  height: 20%;
  width: 100%;

  position: absolute;
  bottom: 0;
  right: 1.5rem;

  background: $basket-color;

  transform: translateY(100%);
  transition: $basket-transition;

  &_shown {
    transform: translateY(0);
  }
}
